.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img {
    width: 2.63rem;
    height: 2.63rem;
    /* width: 42px;
    height: 42px; */
}

.menu {
    margin: 0 2rem;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu__item {
    margin-right: 1rem;
    /* margin-right: 15px; */

    &:last-child {
        margin-right: 0;
    }
}

.telephon {
    display: flex;
    align-items: center;
    font-size: 1.31rem;
}

.telephon__number {
    white-space: nowrap;
    ;
}

.telephon__img {
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.44rem;
    /* width: 12px;
    height: 12px;
    margin-right: 7px; */
}

.phone-ico {
    width: 0.75rem;
    height: 0.75rem;
    fill: red;
}

.menu-mobile__block {
    width: 24px;
    height: 24px;
    display: none;
}

.menu-mobile {
    width: 100%;
    height: 100vh;
    background-color: rgba(47, 50, 52, 0.98);
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding-top: 20%;
    visibility: hidden;

    /*  display: none; */
}

.menu-mobile__list {
    width: 100%;
}

.menu-mobile__item {
    font-size: 2.25rem;
    line-height: 72px;
    font-weight: 400;
    color: #ffffff;
    margin: 0.4rem 0;

}

.menu-mobile__links {
    display: block;
    transition: 0.3s;


    &:hover {
        background-color: rgba(25, 25, 97, 0.445);
    }

}

.menu-mobile__close {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}