.headline {
    text-align: center;
    margin: 0 0 2.81rem 0;
    /* margin: 60px 0 45px 0; */
}

.headline__title {
    /* margin-bottom: 26px; */
    margin-bottom: 1, 63rem;
}

.headline__sub {
    font-size: 1.12rem;
    line-height: 1.2;
    font-weight: 400;
    color: #666666;
    padding: 0 25%;
}