.hero__title-section {
    width: 46%;
}

.hero__main-title {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
   /*  margin-bottom: 37px; */
    margin-bottom: 2.3rem;
}

.hero__title-desc {
    font-size: 1.12rem;
    line-height: 24px;
    font-weight: 400;
    /* margin-bottom: 44px; */
    margin-bottom: 2.75rem;
    padding-right: 24%;
}