.modal {
    display: none;

}

.modal__container {
    width: 300px;
    height: 200px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input-error {
    outline: 10px solid pink;
    border-color: pink;
}

.error-modals {
    color: red;
}

.fancybox-content {
    width: 300px;
    height: 200px;
}